spring:
  profiles:
    active: prod
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/yy?characterEncoding=utf-8&serverTimezone=GMT%2B8
    username: root
    password: 1234
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
      naming:
        property-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyComponentPathImpl
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl


AsyncConfig:
  corePoolSize: 10
  maxPoolSize: 200
  queueCapacity: 10